.title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.title-header {
  text-align: left;
}

.header {
  padding: 10px 20px;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}
